@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

body{
    font-family: "Fira Code", monospace;
    /* background-color: #0f0f10; */
    /* background-color: rgb(14, 15, 16); */
    background-color: #0f0f1a;
    color: #fff;
}
.container{
    max-width: 1150px;
    margin: 0 auto;
}
:root {
  --primary-color: #fff;
  --secondary-color: black;
}.section {
  opacity: 0;
  transition: all 0.8s ease;
}

/* directions */
.top {
  transform: translateY(-60px);
}

.bottom {
  transform: translateY(60px);
}

.left {
  transform: translateX(-60px);
}

.right {
  transform: translateX(60px);
}

/* when visible */
.show {
  opacity: 1;
  transform: translate(0, 0);
}